@charset "utf-8";
// If need, change your variables before importing Bulma

/* Base Styles cm- => custom
/* ---------------------------------------------------------- */

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 4vw;
}

img {
    border-radius: 0.7em;
}

.cm-hr {
    background-color: hsl(217, 71%, 53%);
    border: none;
    display: block;
    height: 5px;
    margin: 1rem 0;
    width: 7em;
    margin: auto;
}

@media (min-width: 1025px) {
    .cm-section {
        padding: 3.5em 6em;
    }
    .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
    }
}

// Navbar component
.navbar-item {
    font-size: 1.2em;
}

/* Home Page
/* ---------------------------------------------------------- */

// Hero component
.hero-title {
    font-size: 2em;
    line-height: 1;
}

@media (min-width: 1025px) {
    .hero-title {
        font-size: 5em;
    }
    .hero-body {
        padding: 3rem 0.5rem;
    }
}

// Postbox component
.box {
    box-shadow: 0;
    border-radius: 0.7em;
    padding: 1em;
}

.box:hover {
    .box-highlight {
        transition: all 0.5s ease;
    }

    background-color: hsl(206, 70%, 96%);
}

/* Articles Page
/* ---------------------------------------------------------- */

// Postcard component
.card {
    box-shadow: 0;
    border-radius: 0.7em;
    padding: 1em;

    .card-content {
        margin-top: 10px;
        border-radius: inherit;
        padding: 0;
    }

    .card-image {
        padding-bottom: 0;

        img {
            border-radius: 0.7em;
        }
    }
}

.card:hover {
    .card-content {
        transition: all 0.5s ease;
    }

    background-color: hsl(206, 70%, 96%);
    border-radius: 0.7em;
}

// Arrow animation for {Read more} button
.bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.post-feed {
    display: grid;
    justify-content: space-between;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 980px) {
    .post-feed {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 680px) {
    .post-feed {
        grid-template-columns: 1fr;
    }
}

/* Newsletter page
/* ---------------------------------------------------------- */

.nl-signup {
    border-radius: 0.7em;
}

/* Post template
/* ---------------------------------------------------------- */

.content-body p {
    color: black;
    font-size: 21px;
    margin-top: 2em;
    line-height: 32px;
}

@import "~bulma/bulma.sass";
